        html 
        {
            margin: 0;
            padding: 0;
            font-family: Franklin Gothic;
            scroll-behavior: smooth;
        }

        *{
            margin: 0;
            padding: 0;
        }

        a {
            color: black;
            text-decoration: none;

        }

        a:hover {
            opacity: 0.7;
            color: red;
        }

        .link {
            text-align: right;
            padding-right: 25%;
        }

        h1 {
            text-align: center;
            color: black;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: #F3F3F3;
        }

        .topnav {

            margin-top: 3px;
            position: relative;
            display: inline-block;
            font-size: 12px;
            height: 23px;
            text-align: left;
            color: #212121;
            padding-left: 60%;
        }

        .language {
            background-color: #F3F3F3;
        }

        .searcharea {
            background-color: white;
            height: 100px;
            padding-top: 1%;
        }

        

        input[type=Search] {
            padding: 15px 15px;
            font-size: 15;
            background-color: #F3F3F3;
            outline: white;
            height: 50px;
            width: 600px;
            border-radius: 4px;
            border: 1px black;
            box-sizing: border-box;
        }

        .submitserch {
            color: white;
            background-color: navy;
            width: 45px;
            height: 45px;
            border: none;
            border-radius: 0 2px 2px 0;
            font-size: 15px;
            outline: none;
            box-shadow: none;
            cursor: pointer;
        }
        .submitserch:hover{
            opacity: 0.8;
        }

        .searchareadown {
            padding-top: 1%;
        }

        .Headname {
            font-size: 30;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .Headname:hover {
            text-decoration: none;
            opacity: 1;
        }

        .container {
            max-width: 1170px;
            margin: auto;
        }

        .row {
            display: flex;
            padding-top: 20px;
            flex-wrap: wrap;
        }

        ul {
            list-style: none;
        }

        .footer {
            border-radius: 5px;
            margin: 5px;
            background-color: #2e2e54;
            padding: -8px 0;
        }


        .footer-col {
            width: 25%;
            padding: 0 15px;
            color: white;
        }

        .footer-col h4 {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }

        .mid-way{

        }

        .prdouct-o{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            display:inline-block;
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
            text-align: center;
            height: 350px;
            width: 280px;
            background-color: white;
            border-radius: 15px;
            font-size: 15px;
            font-weight: bold;
            transition: 0.3s;
        }

        .prdouct-o:hover{
            cursor: pointer;
             transform: scale(1.1);

        }

        .texts{
            display: inline;
        }

        .name{
            font-size: 20px;
            margin-left: 30px ;
        }
        
        .prdouct-o img{
            border-radius: 10px;
            height: 200px;
            width: 230px;
            margin-top: 20px;
        }

        .prdouct-o b{
            margin-right: 40px;
            font-size: 30px;
        }

        .buying-btns{
            margin-top: 10px;
            display: inline;

        }

        .buy-btn{
            border-radius: 5px;
            border: 3px solid white;
            color: white;
            background-color: #000B49;
            font-size: 15px;
            font-weight: Bold;
            height: 50px;
            width: 45%;
            opacity: 0.6;
            transition: 0.3s;
        }

         .addcart-btn{
            border-radius: 5px;
            border: 3px solid white;
            color: white;
            background-color: #612897;
            font-size: 15px;
            font-weight: Bold;
            height: 50px;
            width: 45%;
            opacity: 0.6;
            transition: 0.3s;
        }

        .buy-btn:hover{
            opacity: 1;
            cursor: pointer;
        }

        .addcart-btn:hover{
            opacity: 1;
            cursor: pointer;
        }

        .image{

        }

        .images:hover{
            cursor: pointer;
        }

















