        html {
            font-family: Franklin Gothic;
        }

        *{
            margin: 0;
            padding: 0;
        }

        .Aboxforlogin {
            width: 550px;
            padding: 25px;
            margin-left: 27%;
            margin-bottom: 20px;
            border-radius: 10px;
            background-color: white;
            color: black;
            align-items: center;
        }

        input[type=text],
        input[type=password] {
            outline: none;
            background-color: whitesmoke;
            color: black;
            width: 50%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border-radius: 10px;
            border: 3px solid white;
            box-sizing: border-box;
        }

           input[type=submit] {
            background-color: navy;
            border-radius: 5px;
            border: 3px solid navy;
            font-size: 16px;
            font-weight: bold;
            width: 40%;
            color: white;
            padding: 13px;
            margin: 10px 0px;
            transition: 0.4s;
        }

        input[type=submit]:hover {
            cursor: pointer;
            color: navy;
            border: 3px solid navy;
            background-color: white;
        }

        a {
            color: black;
            text-decoration: none;

        }

        a:hover {
            opacity: 0.7;
            color: red;
        }

        strong {
            padding-right: 35%;
        }

        .Rememberme {
            padding-left: 28%;
        }

        .link {
            text-align: right;
            padding-right: 25%;
        }

        h1 {
            text-align: center;
            color: black;
            margin: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        img {
            align-items: right;
        }

        body {
            background-color: #F3F3F3;
        }

        .signin {
            text-align: right;
            padding-right: 29%;
            font-size: 12px;
        }

        .topnav {
           position: relative;
            display: inline-block;

            margin-top: 3px;
            font-size: 12px;
            height: 23px;
            text-align: left;
            color: #212121;
            padding-left: 60%;
        }

        .language {
            background-color: #F3F3F3;
        }

        .searcharea {
            background-color: white;
            height: 100px;
            padding-top: 1%;
        }

        input[type=Search] {
            padding: 15px 15px;
            font-size: 15;
            background-color: #F3F3F3;
            outline: white;
            height: 50px;
            width: 600px;
            border-radius: 4px;
            border: 1px black;
            box-sizing: border-box;
        }

        .submitserch {
            color: white;
            background-color: navy;
            width: 45px;
            height: 45px;
            border: none;
            border-radius: 0 2px 2px 0;
            font-size: 15px;
            outline: none;
            box-shadow: none;
            cursor: pointer;
        }

        .submitserch:hover {
            opacity: 0.8;
        }

        .searchareadown {
            padding-top: 1%;
        }

        .Facebook {
            background-color: #3b5998;
            font-size: 16px;
            border-radius: 3px;
            width: 40%;
            color: white;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        .Google {
            background-color: #d34836;
            font-size: 16px;
            border-radius: 3px;
            width: 40%;
            color: white;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        .Headname {
            font-size: 30;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        .Headname:hover {
            text-decoration: none;
            opacity: 1;
        }

        .container {
            max-width: 1170px;
            margin: auto;
        }

        .row {
            display: flex;
            padding-top: 20px;
            flex-wrap: wrap;
        }

        
        ul {
            list-style: none;
        }

        .footer {
            border-radius: 5px;
            margin: 5px;
            background-color: #2e2e54;
            padding: -8px 0;
        }

        .footer-col {
            width: 25%;
            padding: 0 15px;
            color: white;
        }

        .footer-col h4 {
            font-size: 18px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 35px;
            font-weight: 500;
            position: relative;
        }
